# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js
.next/
out/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Prisma
prisma/dev.db
prisma/migrations/

# Logs and misc
*.log
.DS_Store
.vscode/
*.tsbuildinfo

/src/generated/prisma


